| Name | SNR |
| --- | --- |
| Emy Meurs | u1250696 |
| Dennis Berens | u1251106 |

## Table of contents

<a href="#Introduction">Introduction</a>


<a href="#2">Research question and method</a>


<a href="#3">Answer</a>


<a href="#4">Importing libraries and data</a>


<a href="#5">data</a>


<a href="#6">Graphs</a>


<a href="#7">Regression</a>

### Introduction
<a name="Introduction"></a>

Piketty showed that housing has become a more important part of wealth in the past decades. Also Maclennan and Miao provide some evidence of the importance of housing in total wealth. They show that the demand for housing is income inelastic, it will grow faster then income, and price inelastic, demand falls slower than the rise of the prices. This can explain the housing bubble that started the crisis in 2008, as housing is a great part of wealth a burst of the bubble creates a crisis. Nowadays the housing prices in the Netherlands are on the rise again and demand only keeps growing. We will have a look if the bubble is enlargening in The Netherlands by looking at the demand versus income and the demand versus housing prices.

### Research question and method
<a name="2"></a>
question: Is there a housing bubble in the Netherlands?

Method: we will use data from the CPB that gives the national income, the housing prices and the amount of houses that has been sold. With this data we will see if there is indeed income elasticity and price inelasticity. We will compare the national income with the housing prices to se the correlation. After we will show how the housing prices move compared to the amount of houses sold in the Netherlands. Finally we will conduct a short regression on the effect of both housing prices as houses sold on the national income to see if Piketty was right, that housing has become a great part of wealth.

### Answer
<a name="3"></a>

### importing libraries and data
<a name="4"></a>

In [65]:
import pandas as pd
import plotly.plotly as py
import cufflinks as cf
import plotly.graph_objs as go
import plotly.figure_factory as f
from plotly.grid_objs import Grid, Column
import plotly.tools as tls
import numpy as np
from datetime import datetime

## data
<a name="5"></a>

We use data from the StatLine site of the CPB. The data concerns the average primaire income of Dutch people from 2000-2016. We also use the Price index of existing houses in the Netherlands, these count or 1995-2000-2005-2011/2017. This time frame is also used for the amount of houses sold.

In [66]:
#load data set

avw = pd.read_csv("AVW.csv", delimiter=";", skiprows=1) #aantalverkochtewoningen
gpi = pd.read_csv("GPI.csv", delimiter=";") #gemiddeldprimairinkomen
pbw = pd.read_csv("PBW.csv", delimiter=";", skiprows=1) #prijsindexbestaandewoningen
com = pd.read_csv("combined_pbw_avw.csv", delimiter=",") #gemiddeldprimairinkomen
avw_nederland = avw['Nederland']
pbw_nederland = pbw['Nederland']
pbw_amsterdam = pbw['Amsterdam']
time = pbw["Regio's"]
gpi_year = gpi["Unnamed: 0"]
gpi_income = gpi["Gemiddeld persoonlijk primair inkomen"]

In [67]:
tls.set_credentials_file(username='dennisberens24', api_key='758qNm6k6k8QtFrqN3sk')

In [68]:
pbw

,Regio's,Nederland,Groningen (PV),Zuid-Holland (PV),Noord-Brabant (PV),Amsterdam,Rotterdam,Unnamed: 7
0,1995,37.6,38.1,38.9,36.2,30.0,37.1,NaN
1,2000,71.1,62.3,69.7,69.9,68.7,67.0,NaN
2,2005,94.4,94.5,95.4,94.8,81.9,93.3,NaN
3,2010,100.0,100.0,100.0,100.0,100.0,100.0,NaN
4,2011,97.6,96.9,98.3,96.8,99.7,99.3,NaN
5,2012,91.3,90.7,91.9,89.9,94.0,94.4,NaN
6,2013,85.3,85.8,86.3,83.4,89.1,89.1,NaN
7,2014,86.1,85.2,87.4,83.7,93.7,90.5,NaN
8,2015,88.5,87.5,90.0,85.6,102.8,94.5,NaN
9,2016,93.0,91.6,94.6,88.9,116.7,101.3,NaN
10,2017,100.0,96.8,102.5,94.3,133.1,114.4,NaN

In [69]:
gpi

    Unnamed: 0  Gemiddeld persoonlijk primair inkomen
0         2000                                   33.2
1         2001                                   35.3
2         2002                                   36.4
3         2003                                   36.6
4         2004                                   37.8
5         2005                                   38.4
6         2006                                   40.0
7         2007                                   42.4
8         2008                                   43.2
9         2009                                   42.9
10        2010                                   42.9
11        2011                                   43.2
12        2012                                   43.6
13        2013                                   43.7
14        2014                                   44.9
15        2015                                   45.2
16        2016                                   45.6

In [70]:
avw

,Nederland,Groningen (PV),Zuid-Holland (PV),Noord-Brabant (PV),Amsterdam,Rotterdam
0,154568,5512,36098,23502,2864,4987
1,189358,6871,43079,28002,4951,6533
2,206629,6837,46171,29671,9279,7332
3,126127,4347,27793,17330,7697,4363
4,120739,4093,26328,16697,7638,4015
5,117261,3722,24917,16583,7205,3726
6,110094,3590,23116,15683,6976,3581
7,153511,4748,31269,22286,11285,5080
8,178293,5420,37498,25304,12494,6166
9,214793,6435,46512,30762,12415,7664
10,241860,7297,52198,36329,11286,8278

### Grafieken moeten nog aangepast worden, er moet een vergelijking met een andere zijn, data van de huizen is raar in het begin dus moet anders naar gekeken worden
<a name="6"></a>

In [71]:
trace1 = go.Scatter(x=time, y=pbw_nederland, name='Netherlands')
trace2 = go.Scatter(x=time, y=pbw_amsterdam, name='Amsterdam')
data1 = [trace1, trace2]
layout = dict(title = 'Housing Prices',
              xaxis = dict(title = 'Years'),
              yaxis = dict(title = 'Housing prices in euros (x1000)'),
              )
graph1 = dict(data=data1, layout=layout)
#py.iplot(graph1, layout=layout)
#py.iplot(graph1, filename='first')
#, trace2]
#py.iplot(graph1)

In [72]:
income = [go.Scatter(x=gpi_year, y=gpi_income)]
#py.iplot(income)

In [73]:
com

                  Area  Year     AVW    PBW
0            Nederland  1995  154568   37.6
1            Nederland  2000  189358   71.1
2            Nederland  2005  206629   94.4
3            Nederland  2010  126127  100.0
4            Nederland  2011  120739   97.6
5            Nederland  2012  117261   91.3
6            Nederland  2013  110094   85.3
7            Nederland  2014  153511   86.1
8            Nederland  2015  178293   88.5
9            Nederland  2016  214793   93.0
10           Nederland  2017  241860  100.0
11      Groningen (PV)  1995    5512   38.1
12      Groningen (PV)  2000    6871   62.3
13      Groningen (PV)  2005    6837   94.5
14      Groningen (PV)  2010    4347  100.0
15      Groningen (PV)  2011    4093   96.9
16      Groningen (PV)  2012    3722   90.7
17      Groningen (PV)  2013    3590   85.8
18      Groningen (PV)  2014    4748   85.2
19      Groningen (PV)  2015    5420   87.5
20      Groningen (PV)  2016    6435   91.6
21      Groningen (PV)  2017    7297   96.8
22   Zuid-Holland (PV)  1995   36098   38.9
23   Zuid-Holland (PV)  2000   43079   69.7
24   Zuid-Holland (PV)  2005   46171   95.4
25   Zuid-Holland (PV)  2010   27793  100.0
26   Zuid-Holland (PV)  2011   26328   98.3
27   Zuid-Holland (PV)  2012   24917   91.9
28   Zuid-Holland (PV)  2013   23116   86.3
29   Zuid-Holland (PV)  2014   31269   87.4
..                 ...   ...     ...    ...
36  Noord-Brabant (PV)  2010   17330  100.0
37  Noord-Brabant (PV)  2011   16697   96.8
38  Noord-Brabant (PV)  2012   16583   89.9
39  Noord-Brabant (PV)  2013   15683   83.4
40  Noord-Brabant (PV)  2014   22286   83.7
41  Noord-Brabant (PV)  2015   25304   85.6
42  Noord-Brabant (PV)  2016   30762   88.9
43  Noord-Brabant (PV)  2017   36329   94.3
44           Amsterdam  1995    2864   30.0
45           Amsterdam  2000    4951   68.7
46           Amsterdam  2005    9279   81.9
47           Amsterdam  2010    7697  100.0
48           Amsterdam  2011    7638   99.7
49           Amsterdam  2012    7205   94.0
50           Amsterdam  2013    6976   89.1
51           Amsterdam  2014   11285   93.7
52           Amsterdam  2015   12494  102.8
53           Amsterdam  2016   12415  116.7
54           Amsterdam  2017   11286  133.1
55           Rotterdam  1995    4987   37.1
56           Rotterdam  2000    6533   67.0
57           Rotterdam  2005    7332   93.3
58           Rotterdam  2010    4363  100.0
59           Rotterdam  2011    4015   99.3
60           Rotterdam  2012    3726   94.4
61           Rotterdam  2013    3581   89.1
62           Rotterdam  2014    5080   90.5
63           Rotterdam  2015    6166   94.5
64           Rotterdam  2016    7664  101.3
65           Rotterdam  2017    8278  114.4

[66 rows x 4 columns]

In [74]:
years_from_col = set(com['Year'])
years_ints = sorted(list(years_from_col))
years = [str(year) for year in years_ints]

# make list of areas
areas = []
for area in com['Area']:
    if area not in areas: 
        areas.append(area)

columns = []
# make grid
for year in years:
    for area in areas:
        com_by_year = com[com['Year'] == int(year)]
        com_by_year_and_area = com_by_year[com_by_year['Area'] == area]
        for col_name in com_by_year_and_area:
            column_name = '{year}_{area}_{header}_com_grid'.format(
                year=year, area=area, header=col_name
            )
            a_column = Column(list(com_by_year_and_area[col_name]), column_name)
            columns.append(a_column)

# upload grid
grid = Grid(columns)
url = py.grid_ops.upload(grid, 'com_pbw_avw_grid', auto_open=False)

In [75]:
figure = {
    'data': [],
    'layout': {},
    'frames': [],
    'config': {'scrollzoom': True}
}

# fill in most of layout
figure['layout']['xaxis'] = {'range': [2500, 250000], 'title': 'Number of Houses Sold', 'gridcolor': '#FFFFFF'}
figure['layout']['yaxis'] = {'range': [20, 140], 'title': 'Average Value House','gridcolor': '#FFFFFF'}
figure['layout']['hovermode'] = 'closest'
figure['layout']['plot_bgcolor'] = 'rgb(223, 232, 243)'

In [76]:
sliders_dict = {
    'active': 0,
    'yanchor': 'top',
    'xanchor': 'left',
    'currentvalue': {
        'font': {'size': 20},
        'prefix': 'Year:',
        'visible': True,
        'xanchor': 'right'
    },
    'transition': {'duration': 300, 'easing': 'cubic-in-out'},
    'pad': {'b': 10, 't': 50},
    'len': 0.9,
    'x': 0.1,
    'y': 0,
    'steps': []
}

In [77]:
figure['layout']['updatemenus'] = [
    {
        'buttons': [
            {
                'args': [None, {'frame': {'duration': 500, 'redraw': False},
                         'fromcurrent': True, 'transition': {'duration': 300, 'easing': 'quadratic-in-out'}}],
                'label': 'Play',
                'method': 'animate'
            },
            {
                'args': [[None], {'frame': {'duration': 0, 'redraw': False}, 'mode': 'immediate',
                'transition': {'duration': 0}}],
                'label': 'Pause',
                'method': 'animate'
            }
        ],
        'direction': 'left',
        'pad': {'r': 10, 't': 87},
        'showactive': False,
        'type': 'buttons',
        'x': 0.1,
        'xanchor': 'right',
        'y': 0,
        'yanchor': 'top'
    }
]

custom_colors = {
    'Nederland': 'rgb(171, 99, 250)',
    'Groningen (PV)': 'rgb(230, 99, 250)',
    'Zuid-Holland (PV)': 'rgb(99, 110, 250)',
    'Noord-Brabant (PV)': 'rgb(25, 211, 243)',
    'Amsterdam': 'rgb(50, 170, 255)',
    'Rotterdam': 'rgb(50, 211, 250)',
}

In [78]:
col_name_template = '{year}_{area}_{header}_com_grid'
year = 1995
for area in areas:
    data_dict = {
        'xsrc': grid.get_column_reference(col_name_template.format(
            year=year, area=area, header='AVW'
        )),
        'ysrc': grid.get_column_reference(col_name_template.format(
            year=year, area=area, header='PBW'
        )),
        'mode': 'markers',
        'textsrc': grid.get_column_reference(col_name_template.format(
            year=year, area=area, header='Area'
        )),
        'marker': {
            'sizemode': 'Area',
            'sizeref': 200000,
            #'sizesrc': 100,
            'color': custom_colors[area]
        },
        'name': area
    }
    figure['data'].append(data_dict)

In [79]:
for year in years:
    frame = {'data': [], 'name': str(year)}
    for area in areas:
        data_dict = {
            'xsrc': grid.get_column_reference(col_name_template.format(
                year=year, area=area, header='AVW'
            )),
            'ysrc': grid.get_column_reference(col_name_template.format(
                year=year, area=area, header='PBW'
            )),
            'mode': 'markers',
            'textsrc': grid.get_column_reference(col_name_template.format(
                year=year, area=area, header='Area'
                )),
            'marker': {
                'sizemode': 'area',
                'sizeref': 200000,
                #'sizesrc': '100',
                'color': custom_colors[area]
            },
            'name': area
        }
        frame['data'].append(data_dict)

    figure['frames'].append(frame)
    slider_step = {'args': [
        [year],
        {'frame': {'duration': 300, 'redraw': False},
         'mode': 'immediate',
       'transition': {'duration': 300}}
     ],
     'label': year,
     'method': 'animate'}
    sliders_dict['steps'].append(slider_step)

figure['layout']['sliders'] = [sliders_dict]

In [80]:
py.icreate_animations(figure, ('pbw_avw'))

### Geprobeerd een regressie te doen, snap nog niet goed wat de uitkomst is
<a name="7"></a>

In [81]:
slope, intercept = np.polyfit(pbw_nederland, avw_nederland, 1)

In [82]:
slope

208.27011604045097

In [83]:
intercept

146948.96066848896

In [84]:
print(pearson_r(pbw_nederland, gpi_income))

NameError: name 'pearson_r' is not defined